html{
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: var(--c3);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button, [type="submit"]{
  width: max-content;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  border: 2px solid transparent;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid var(--primary);
  color: var(--primary2);
  background: transparent;
  font: 600 1.25rem 'Raleway', sans-serif;
}

[type="submit"]{
  margin: 0 auto;
}


button:hover, [type="submit"]:hover{
  color: var(--c4);
  background: linear-gradient(to right, var(--primary), rgb(124, 84, 255));
}

.container {
  max-width: 1440px;
  padding: 40px;
  padding-top: 0px;
  margin: auto;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 997;
  visibility: hidden;
}

.modal.active{
  visibility: visible;
}

[data-anima="scroll"] {
  opacity: 0;
}

[data-anima="scroll"].visible{
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@media (max-width: 750px){
  .container {
    padding: 20px;
  }

  button{
    font: 600 1rem 'Raleway', sans-serif;
  }
}
