.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-mobile {
  display: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-image: url(../img/menu-hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 20px;
  z-index: 999;
}

.nav-links{
  display: flex;
  gap: 50px;
}

.nav-links a{
  padding: 10px;
  display: block;
  position: relative;
}

.nav-links li a::after{
  content: '';
  width: 0px;
  height: 2px;
  background-color: var(--primary);
  display: block;
  transition: 0.3s;
  position: absolute;
  bottom: 0px;
}

.nav-links li a:hover:after{
  width: calc(100% - 20px);
}

.social-header{
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.social-header img{
  width: 32px;
}

@media (max-width: 950px){
  .social-header{
    display: none;
  }
}

@media (max-width: 750px){
  .menu-mobile{
    display: block;
  }

  .menu-mobile.active {
    background-image: url(../img/menu-close.svg);
    position: fixed;
  }

  .header nav{
    position: fixed;
    right: 0px;
    top: 0px;
    padding-top: 150px;
    width: 0px;
    overflow: hidden;
    transition: 0.6s;
    height: 100%;
    background-color: black;
    opacity: 0;
    align-items: center;
    gap: 20px;
    z-index: 998;
  }

  .header nav.active{
    width: 200px;
    opacity: 1;
  }
  
  .nav-links{
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-bottom: 40px;
  }

  .social-header{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

}