.font-1 {
  font: 600 1.25rem 'Raleway', sans-serif;
}
.font-2n {
  font: 400 1.875rem 'Raleway', sans-serif;
}

.font-2sb{
  font: 600 1.875rem 'Raleway', sans-serif;
}

.font-3sb{
  font: 600 2rem 'Raleway', sans-serif;
}

.font-4b{
  font: 700 2.5rem 'Raleway', sans-serif;
}

.font-5n{
  font: 400 3.25rem 'Raleway', sans-serif;
}

.font-5n{
  font: 400 3.25rem 'Raleway', sans-serif;
}

.font-6n{
  font: 400 5rem 'Raleway', sans-serif;
}

.font-7m{
  font: 500 5rem 'Raleway', sans-serif;
}