.font-1 {
  font: 400 1rem 'Raleway', sans-serif;
}

.font-1sb {
  font: 500 1rem 'Raleway', sans-serif;
}

.font-2n {
  font: 400 1.25rem/1.5 'Raleway', sans-serif;
}

.font-2sb{
  font: 600 1.25rem 'Raleway', sans-serif;
}

.font-3n{
  font: 400 1.75rem 'Raleway', sans-serif;
}

.font-3sb{
  font: 600 1.5rem 'Raleway', sans-serif;
}

.font-3b{
  font: 700 1.75rem 'Raleway', sans-serif;
}

.font-5n{
  font: 400 2.75rem 'Raleway', sans-serif;
}

.font-5m{
  font: 500 2.75rem 'Raleway', sans-serif;
}

.font-6n{
  font: 400 3.75rem 'Raleway', sans-serif;
}

.font-6m{
  font: 500 3.25rem 'Raleway', sans-serif;
}

@media (max-width: 750px){
  .font-6n{
    font: 400 2.5rem 'Raleway', sans-serif;
  }

  .font-5m{
    font: 500 2rem 'Raleway', sans-serif;
  }

  .font-3b{
    font: 700 1.4rem 'Raleway', sans-serif;
  }

  .font-3sb{
    font: 600 1.2rem 'Raleway', sans-serif;
  }

  .font-3n{
    font: 400 1.2rem 'Raleway', sans-serif;
  }

  .font-2n {
    font: 400 1rem/1.5 'Raleway', sans-serif;
  }

  .font-2sb{
    font: 600 1rem 'Raleway', sans-serif;
  }
}